/* -----------------------------------------
    holders hold the colours and everything
    else for the swatches
   ----------------------------------------- */
.jqueryswatches .holder {
    position: relative;
    width: 50%;
    height: 50px;
    margin-top: 50px;
    border-radius: 10px;
}

.jqueryswatches .holder:hover { 
    box-shadow: 0 0 30px 3px #ddd; 
}

/* -----------------------------------------
    everything below styles the individual
    color blocks
   ----------------------------------------- */
.jqueryswatches .color:first-child { 
    border-radius: 7px 0 0 7px; 
}

.jqueryswatches .color:nth-last-child(2) { 
    border-radius: 0 7px 7px 0; 
}

.jqueryswatches .color { 
    height: 50%; 
    display: inline-block; 
}

/* -----------------------------------------
    the shade class contains the names of
    the colors for the popup effect
   ----------------------------------------- */
.jqueryswatches .shade {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: #000;
    opacity: 0.14;
    border-radius: 0 0 7px 7px;
    text-align: center;
    color: #FFF;
}

.jqueryswatches .color-names { 
    font-size: 9px; 
    color: #aaa; 
}

.jqueryswatches .name {
    display: inline-block;
    height: 100%;
    opacity: 0;
    margin-top: 4px;
    font-size: 12px;
}

/* -----------------------------------------
    styles the name of the swatch
   ----------------------------------------- */
.jqueryswatches .info {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #000;
}
