/*
Proyecto: MX[CHI].Intrade
Resumen: Estilos Principales de Intrade
Version: 0.123456 (FECHA)
Autor: Edinson Rodriguez
Descripcion:
        Reset general de estilos.
        Estilos generales de tipografia y enlaces
*/

/**CSS RESET**/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, center, u, b, i {margin: 0;padding: 0;border: 0;outline: 0;font-weight: normal;font-style: normal;font-size: 100%;font-family: inherit;vertical-align: baseline;}
body {line-height: 1;}
:focus {outline: 0;}
ol, ul {list-style: none}
table {border-collapse: collapse;border-spacing: 0}
blockquote, q {quotes: "" "";}
input, textarea {margin: 0;padding: 0;border:0;}
.oculto, hr, legend{display:none;visibility:hidden;}
.panel-heading { padding: 0px !important;}
.panel { border-radius: 0px !important;}
.panel-group .panel-heading + .panel-collapse > .panel-body { border-top: 0px solid #DDD !important;}
.panel-body { padding: 0px !important;}
/**CSS RESET**/

/*Estilos Generales de tipografia y enlaces*/
body{font-size:76%;color:black; background: #f9f9fa!important; font-family: 'Century Gothic', sans-serif !important; }
#contenedor{ background:#092D48 url(../img/bg_home_uno.jpg) top center no-repeat ; }
a:link, a:visited{color:blue;text-decoration:none;}
a:hover, a:active{color:blue;text-decoration:underline;}
.font-Noto {font-family: 'Century Gothic', sans-serif;}

/*Estilos Generales de Estructura y Diseño basicos*/
body {text-align: center;}
strong {font-weight: bold;}
.centrar{ width: 960px ; margin: 0 auto; text-align: left; position: relative; color: #242424; }
.centro { text-align: center;}
h1{color: #444444; font-size: 26px; padding-bottom: 20px;}
h2{color: #444444; font-size: 26px; padding-bottom: 20px; }
.btn{ background: url(../img/bg_btn.png) left top repeat-x; color: #fff!important; text-transform: uppercase; padding: 14px 55px; }
.btn:hover {opacity: 0.7;}

/* Estilos radio buttons */
#radio-a label{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    margin-right:12px;
}
#radio-a label input[type="radio"]{
    position: absolute;
    left:-9001px;
}
#radio-a .circ{
    width:12px;
    height:12px;
    border-radius: 12px;
    display:inline-block;
    border:1px solid black;
    top:1px;
    position:relative;
}
#radio-a .circ .dot{
    width:6px;
    height:6px;
    display:block;
    position: absolute;
    border-radius: 2em;
    left:2px;
    top:2px;
}
#radio-a label input[type="radio"]:checked ~ .circ .dot{
    background-color:red;
}

/* cabecera */
#cabecera {background:  	#FFFFFF;}

#cabecera .logo {
    float: left;
    width: 195px;   /*195 valor oiginal*/
    height: 100px;    /*24 valor original*/
    text-indent: -999px;
    overflow: hidden;
    display: block;
    background: url(../img/logo.png);
    margin: 15px 0px;
}

#cabecera .centrar div {
    /*background: url("../img/icn_indicador.png") no-repeat center bottom ;*/
    float: right;
    margin-bottom: -8px;
    padding: 16px 0 15px 0;
    z-index: 9999;
    position: relative;
}

#cabecera p {
    /*background: url(../img/icn_peso.png) left top no-repeat;*/
    float: right;
    display: block;
    color: #1B588F;
    font-size: 20px;
    padding-left: 20px;
}
#cabecera p i.fa.fa-usd {
    font-size: 22px;
}
#cabecera .opciones {
    display: block;
}
/* menu fixed */
.fixed {
    position: fixed;
    margin-top: 0;
}
#fixMenu.fixed {
    top: 0;
    z-index: 1000000;
}
#fixMenu.fixed #cabecera .opciones_view {
    background: none;
}
#fixMenu.fixed #cabecera .opciones {
    display: block;
}
#fixMenu.fixed #cabecera .opciones li a {
    color: #1B588F;
}
#fixMenu.fixed #cabecera .opciones li:nth-child(2) {
    border-left: 1px solid #1B588F;
    border-right: 1px solid #1B588F;
}
.opciones_view {
    float: right;
    display: block;
    margin-right: 25px;
    padding: 38px 0px 38px!important;
}

/* menu responsive */
.containerO {
    width: 100%;
    border: 0px none;
    border-radius: 0px;
    margin-bottom: 0px;
    height: 50px;
}
.fa.fa-bars {
    color: #fff;
    font-size: 22px;
    margin-right: 6px;
    vertical-align: text-top;
    margin-top: 14px;
}
.fa.fa-times, .fa.fa-check {
    color: #fff;
    font-size: 22px;
    margin-right: 6px;
    margin-top: 8px;
}
#simple-menu.col-xs-2 {
    text-align: right;
    z-index: 9999;
}
li .botoncerrar {
    text-align: right;
}

/* banners */
.banner {
    display: block;
    overflow: hidden;
    width: 100%;
}
.banner li {position: relative;}

.banner .centrar{
    position: absolute;
    left: 65%;
    top: 40px;
    margin-right: -400px;
    width: 220px;
}
.banner li h2 {
    font-size: ;
    font-size: 28px;
    line-height:140%;
    color: #fff;
    width: 220px;
    text-align: right;
}

.banner li p {
    font-size: 38px;
    color: #fff;
}
.carousel-inner > .item > img {
    width: 100%;
}
.carousel-indicators {
    right: 0%;
    text-align: right!important;
}
.carousel-caption {
    top: 40px;
}
.carousel-caption h3 {
    font-size: 28px;
    line-height: 140%;
    color: #fff;
    width: 100%;
    text-align: left;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
    text-align: left;
    font-weight: 600;
}
.carousel-caption p {
    font-size: 38px;
    color: #fff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
    text-align: right;
    font-weight: bold;
}
.carousel-indicators .active {
    background-color: #c8c8c8!important;
    border: 1px solid #a7a5a0;
}
.carousel-indicators li {
    background-color: #fff!important;
    border: 1px solid #d6d6d6;
}
.carousel-control.left, .carousel-control.right {
    background-image: none!important;
}


/*camino de miga*/
#miga {padding: 35px 0 35px 0px;}

#miga li {
    float: left;
    font-size: 12px;
    padding-right: 3px;
    color: #4c4c4c;
}

#miga a {color: #b9230f;}

/*identificador*/
#identificador {
    border: 1px solid #e0dede;
    width: 100%;
    padding: 0px;
    position: relative;
    margin-bottom: 35px;
}

#identificador div ul {
    width: 50%;
    float: left;
}

#identificador div {
    width: 100%;
    background: #e9e8e8;
    border: 2px solid #fff;
    padding-bottom: 20px;
}

#identificador li {
    float: left;
    width: 100%;
    padding-top: 20px;
    color: #242424;
}

#identificador li strong {
    display: block;
    float: left;
    width: 82px;
    padding-left: 20px;
    font-size: 14px;
    color: #242424;
    margin-right: 10px;
}
#identificador li a {
    color: #242424;
}

#identificador li.agente strong, #identificador li.agente {font-size: 17px;}

#identificador #btn_polizas {
    display: block;
    width: 117px;
    text-align: center;
    font-size: 13px;
    float: right;
    color: #4c4c4c;
    margin-top: 30px;
}

#identificador #btn_polizas img {
    display: block;
    margin: 0 auto 8px auto;
}

#identificador #btn_cotizaciones {
    display: block;
    width: 117px;
    text-align: center;
    font-size: 13px;
    float: right;
    color: #4c4c4c;
    margin-top: 30px;
}

#identificador #btn_cotizaciones img {
    display: block;
    margin: 0 auto 8px auto;
}



/*Pasos */
#pasos{
    float: left;
    width: 100%;
    margin-bottom: 35px;
    border: 1px solid #e0dddd;
    background: #fff;
    padding: 0px;
}
#pasos li{
    float: left;
    width: 33%;
    padding: 15px 0px;
    color: #4c4c4c;
    font-size: 17px ;
    text-align: center;
    position: relative;

}

#pasos .uno:after, #pasos .uno:before,
#pasos .dos:after, #pasos .dos:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#pasos .uno:after,
#pasos .dos:after  {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 23px;
    margin-top: -23px;
}
#pasos .uno:before,
#pasos .dos:before {
    border-color: rgba(224, 221, 221, 0);
    border-left-color: #e0dddd;
    border-width: 24px;
    margin-top: -24px;
}
#pasos .uno:after, #pasos .uno:before {
    z-index: 1;
}

/*Mover color del fondo del cuadro de cotiza*/
#pasos li.active{
    background: #4BAFE2;
    color: #fff;   /*fff*/
    /*cursor: pointer;*/
}

/*Mover color del fondo de la flecha de cotiza*/
#pasos li.active:after {
    border-color: rgba(216, 30, 5, 0);
    border-left-color: #4BAFE2;
    border-width: 27px;
    margin-top: -27px;
}
#pasos li.visited{
    background: #fff;
    color: #4C4C4C;
    cursor: pointer;
}
#pasos li.visited:after {
    border-color: rgba(216, 30, 5, 0);
    border-left-color: #fff;
    border-width: 27px;
    margin-top: -27px;
    z-index: 50;
}




/* contenido */
#contenido_paso {
    background: #fff;
    width: 100%;
    padding: 2%;
    border: 1px solid #e0dede;
    float: left;

}
#contenido_paso.marginBlock {
    margin-bottom: 30px;
}

#contenido_paso h2 {border-bottom: 1px solid #edebeb; margin-top: 0px;}
#contenido_paso h2 a, #paquetes h2 a { color: #000;}
#contenido_paso h2 a:hover, #paquetes h2 a:hover { text-decoration: none;}
#contenido_paso.marginBlock h2 { border-bottom: 0px; margin-bottom: 0px; padding-bottom: 0px; color: #242424;}
#contenido_paso.marginBlock i.fa.fa-pencil { font-size: 24px; margin-left: 10px; color: #1b528f; /*float: right;*/}
.export-tables i.fa.fa-file-excel-o { font-size: 24px; margin-left: 10px; color: #1b528f;}
.download-tables i.fa.fa-file-pdf-o { font-size: 24px; margin-left: 0px; color: #666;}
.opciones {float: right;}

.opciones li {float: left;}

.opciones li a {
    display: block;
    width: 60px;
    text-align: center;
    font-size: 13px;
    float: left;
    color: #b9230f;
}
.opciones li a.plus-icon-box {
    text-align: right;
    width: 200px;
    z-index: 999;
}
.opciones li a.plus-icon-box .redglobo {
    text-align: left;
}

.opciones li a img {
    display: block;
    margin: 0 auto 3px auto;
}
.opciones i.fa.fa-plus-circle, .opciones i.fa.fa-minus-circle {
    font-size: 35px;
}

.opciones li:nth-child(2) {
    border-left: 1px solid #c3c2c2;
    border-right: 1px solid #c3c2c2;
    margin: 0px 6px;
}
ul.datos-resumen {
    margin: 8px 0px 0px 0px;
}
.datos-resumen li {
    display: inline-block;
    font-size: 14px;
}
#contenido_clave {
    width: 100%;
    padding: 2%;
    float: left;
}
.obligado_left {
    font-size: 13px;
    color: #4C4C4C;
    text-align: left;
}
.clave_right {
    font-size: 13px;
    color: #4C4C4C;
    text-align: right;
}
/*clave agente*/
.agente_block {
    float: left;
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid #edebeb;
}
.agente_block.a1nn {
    border-bottom: 0px solid #edebeb;
}
.agente_block input, .block_serie input, .block_monto input, .cuerpo .item.block_monto_dark input, .item.a4nn input, .item.a6nn input, .item.block_valor_contenidos input {
    width: 320px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.4em 1em 0.4em 0.4em;
}
.item.a6nn input {
    width: 300px;
}
.agente_block .type-person input {
    height: auto; width: auto;
    padding: 0.4em 1em 0.4em 0.4em;
}

/*bajada*/
.bajada {
    float: left;
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid #edebeb;
}

.bajada p {padding-bottom: 15px;}

.bajada label {
    color: #4c4c4c;
    font-size: 13px;
    font-weight: bold;
}

.bajada input {
    width: 194px;
    height: 30px;
    border: 1px solid #edebeb;
    padding: 0.4em 1em 0.4em 0.4em;
}


/**cuerpo*/

.cuerpo {
    float: left;
    width: 100%;
}

.cuerpo .item {
    width: 100%;
    float: left;
    padding-bottom: 30px;
}

.cuerpo .item select, #descripcion-button{ float: left; }
.cuerpo .item .alert a{
    color: #1b528f !important;
    padding-top: 8px;
    float: left;
    padding-left: 10px;
}
.cuerpo .item .alert{
    margin-bottom: 0px;
}
.msg-error-validate {
    font-size: 13px;
    color: #1b528f ;
    font-style: italic;
    background: #EAE9E9;
    padding: 7px;
    border-radius: 3px;
}
.cuerpo .item.a7nn {
    margin: -30px 0px 0px 0px;
}

.cuerpo .item label, .cuerpo .item .normalTxt, .agente_block.a1nn label a {
    float: left;
    width: 240px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    color: #4c4c4c;
    padding-top: 8px;
}
.cuerpo .item label e {
    font-weight: normal;
}
.cuerpo .item label m {
    font-weight: normal;
    margin-right: 20px;
}

.cuerpo .item .normalTxt {
    font-weight: normal;
    text-align: left;
}
.cuerpo .item .check-cotiz label {
    width: 390px;
}

.cuerpo .item.item_tipos label {padding-top: 40px;}

.cuerpo .item.item_fecha label {  padding-top: 0px; }
.cuerpo .item.item_fecha label.label_fecha {
    width: auto;
    padding-right: 5px;
}

.cuerpo .item.item_fecha img {
    float: left;
    margin-left: 5px;
    margin-top: -9px;
    margin-right: 10px;
}

.cuerpo .item.item_fecha input {
    float: left;
    width: 75px;
    height: 30px;
    border: 1px solid #edebeb;
    text-align: center;
    margin-top: -9px;
}

.cuerpo .item.a3nn label.type-person, .cuerpo .item.a5nn label.type-person {
    width: 140px;
    font-weight: normal;
}
.cuerpo .item.a3nn label.type-contact {
    text-align: left;
    width: 160px;
    font-weight: normal;
}
.cuerpo .item.a5nn label.type-person {
    padding-top: 0px;
}
label.type-person a {
    color:#4C4C4C;
}

.cuerpo .item.a5nn {
    padding-bottom: 0px;
}
.plus-contact-item {
    margin-left: 5px;
    display: inline-block;
}
.plus-contact-item a {
    color: #1b528f;
}

input.date_cal {
    width: 120px !important;
    height: 36px !important;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    padding: 0.4em 1em 0.4em 0.4em;
}

.cuerpo .item.block_monto, .cuerpo .item.block_monto_dark, .item.block_monto_date, .item.block_valor_contenidos {
    background: #eae9e9;
    width: 100%;
    float: left;
    padding: 8px 0px;
    margin-bottom: 15px;
}

.cuerpo .item.block_monto_dark, .cuerpo .item.block_monto_date {
    margin-bottom: 0px;
}

.cuerpo .item.box-dark {
    background: #eae9e9;
    width: 100%;
    float: left;
    margin-bottom: 25px;
    padding: 15px 7px;
}
.cuerpo .item.box-dark .fa.fa-plus-circle, .fa.fa-minus-circle, .opciones .fa.fa-plus-circle {
    color: #1b528f;
    cursor: pointer;
    font-size: 22px;
}
.text-benefit-old {
    font-size: 13px;
}

.alert_desc {
    clear: both;
    color: #1b528f;
    display: block;
    overflow: hidden;
    margin-left: 15px;
}

.option_check {
    text-align: left;
    padding-left: 0px!important;
}

input.desc_txt {
    clear: both;
    width: 75px;
    height: 30px;
    border: 1px solid #edebeb;
    text-align: center;
    margin-top: -9px;
}
input.desc_txt.gt6 {
    clear: both;
    width: 175px;
    height: 30px;
    border: 1px solid #edebeb;
    text-align: center;
    margin-top: -9px;
    position: absolute;
    right: 0px;
}

.cuerpo .item.checkbox {
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 27%;
}

.cuerpo .item.checkbox input {
    /*float: left;
    margin-left: 260px;
    margin-right: 10px;*/
}

.cuerpo .item.checkbox label {
    width: auto;
    font-weight: normal;
    padding-top: 0px;
}

.cuerpo .item select {width: 320px;}

.cuerpo .item .tipos li {float: left;}

.cuerpo .item .tipos li a {
    height: 30px;
    padding-top: 60px;
    display: block;
    color: #4c4c4c;
    font-size: 13px;
    text-align: center;
    background: #eae9e9 url(../img/icn_tipos.png) left 28px no-repeat;
    border-right: 1px solid #dcdbdb;
}

.cuerpo .item .tipos li.active a {
    background: #1b528f url(../img/icn_tipos.png) left 28px no-repeat;
    color: #fff;
    display: table;
}

.cuerpo .item .tipos .btn_autos {
    width: 110px;
    height: 100px;
    background-position: 28px 28px;
    display: table;
}
.cuerpo .item .tipos .btn_autos:hover {
    background-position: 30px -65px;
    text-decoration: none;
}

.cuerpo .item .tipos .btn_camiones {
    width: 110px;
    height: 100px;
    background-position: -77px 28px;
    display: table;
}
.cuerpo .item .tipos .btn_camiones:hover {
    background-position: -77px -65px;
    text-decoration: none;
}

.cuerpo .item .tipos .btn_pickups {
    width: 110px;
    height: 100px;
    background-position: -184px 28px;
    display: table;
}
.cuerpo .item .tipos .btn_pickups:hover {
    background-position: -184px -65px;
    text-decoration: none;
}

.cuerpo .item .tipos .btn_motos {
    width: 110px;
    height: 100px;
    background-position: -288px 28px;
    border: 0px;
    display: table;
}
.cuerpo .item .tipos .btn_motos:hover {
    background-position: -288px -65px;
    text-decoration: none;
}

.cuerpo .item .tipos .active .btn_autos {background-position: 28px -66px;}

.cuerpo .item .tipos .active .btn_camiones {background-position: -84px -66px;}

.cuerpo .item .tipos .active .btn_pickups {background-position: -184px -66px;}

.cuerpo .item .tipos .active .btn_motos {background-position: -292px -66px;}

.obligatorio {
    font-size: 13px;
    color: #4c4c4c;
    width: 240px;
    text-align: right;
    padding: 30px 0px;
}
.item-list-pago label {
    text-align: left !important;
}
.item-card-pago {
    background: #ebebeb;
    display: block;
    padding: 3px 10px;
}
.item-card-pago span {
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
}
.item-card-pago span.text-card-1 {
    color: #1b528f;
}
.item-card-pago span.text-card-2 {
    font-weight: bold;
}
.item-card-pago span.text-card-3 {
    text-align: center;
}
.item-card-pago span.text-card-3 img {
    margin: 10px 5px;
    cursor: pointer;
}
.alert-min {
    font-size: 12px;
}
.item-card-codigo span.text-card-4, .item-card-codigo span.text-card-5 {
    float: left;
}
.item-card-codigo span.text-card-5 {
    text-align: left;
    display: block;
    width: 120px;
}
.box-dato-poliza {
    background: #eae9e9;
    display: table;
    padding: 25px 15px;
}
.box-dato-poliza li.dato-poliza {
    font-size: 17px;
    margin-bottom: 10px;
}
.box-dato-poliza li strong {
    display: block;
    float: left;
    width: 220px;
    margin-right: 10px;
}
.poliza-info {
    margin-bottom: 20px;
}
.poliza-info h3 {
    font-size: 22px;
}

.poliza-info .item label.non-weight {
    font-weight: normal;
}
.poliza-info .item label.non-weight a {
    color: #1b528f;
}
.poliza-info .item label {
    text-align: left;
}
.poliza-info .item {
    padding-bottom: 0px;
    margin-bottom: 10px;
}



/* paquetes **/
#paquetes {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e0dede;
    float: left;
    padding: 2%;
    width: 100%;
    margin-top: 30px;
}
#paquetes h2{
    padding-bottom: 0px; color: #242424;
}
#paquetes h2:hover, #contenido_paso.marginBlock h2:hover, #contenido_paso h2 a:hover {
    opacity: 0.6;
    cursor: pointer;
    text-decoration: none !important;
}
#paquetes.line-content h2 {
    border-bottom: 1px solid #EDEBEB;
    padding-bottom: 20px;
}
.box-content-paquete {
    background: #eae9e9;
    padding: 15px 10px;
    font-size: 14px;
}

.box-content-paquete a {
    color: #B9230F;
}
.table-cobertura select{
    width: 80px;
}
.line-separata {
    margin: 0px 15px;
}
.box-table-paquete, .box-table-cotiza {
    margin: 20px 0px;
}
.box-table-paquete h3 {
    font-size: 17px;
}
.export-tables {
    text-align: center;
    position: absolute;
    right: 20px;
    top: 15px;
    width: auto;
}
.export-tables a {
    color: #1b528f;
}
.download-tables a {
    color: #666;
}
.table-paquete td, .table-cobertura td {
    border: 1px solid #edebeb;
    text-align: center;
    padding: 8px;
    vertical-align: middle;
    color: #4b4b4b;
}
.table-cobertura .w135 {
    background: #f8f8f8;
    width: 129px;
}
.pa_10{
    padding: 10px 9px!important;
}
.table-cobertura .w140 {
    width: 140px;
}
.table-cobertura .w138 {
    width: 138px;
}
.w16{
    width: 16%;
}
.table-cobertura .l10 {
    background: #f8f8f8;
}
.table-cobertura input {
    border: 1px solid #CCC;
    border-radius: 4px;
    height: 36px;
    width: 130px;
    padding: 0.4em 1em 0.4em 0.4em;
}
.table-paquete td label {
    font-weight: normal;
}
.table-paquete .l11 {
    background: #de0607;
    color: #4BAFE2;
}
.table-cobertura td {
    padding: 2px 9px;
}

.table-paquete .ll11 {
    background: none repeat scroll 0 0 #4BAFE2;
    color: #fff;
    width: 49%;
}
.desactivado{
    position: relative;
    background: none!important;
}
.desactivado label{
    position: relative;
    z-index: 222;
}
.desactivado.checkDesign label{
    z-index: 2;
}
.fa-check{
    z-index: 222;
    position: relative;
}
.desactivado_bg{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../img/bg_disable.png);
    z-index: 22;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
}

.desactivado2 label {
    color: #dadada;
}
.titulo_disable{
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
}
.desactivado label{
    color:#DADADA;
}

.table-paquete .l13, .table-paquete .l14, .table-paquete .l15 {
    background: #8e0101;
    color: #fff;
}
.table-cobertura .l13, .table-cobertura .l14, .table-cobertura .l15 {
    background: #8e0101;
    color: #fff;
}
.table-paquete .m13 {
    background: #4BAFE2;
    color: #fff;
}

.table-paquete .m131 {
    background: #ccc;
    color: #fff;
}

.table-paquete .left, .table-cobertura .left {
    text-align: left;
}
.shadow {
    background: #fbfbfb;
}
.text-red, .box-table-cotiza a {
    color: #1b528f;
}
.modal {
    top: 45px !important;
}
.modal-header {
    background: #de0607;
    color: #fff;
    text-align: center;
}
.modal-header h4 {
    font-size: 24px;
}
.modal-header .close {
    background: #fff;
    opacity: 1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -25px !important;
    margin-right: -25px;
}
thead td {
    font-size: 12px;
    height: 55px;
}
.modal-header .close:hover {
    opacity: 0.9;
}
.close {
    color: #1b528f !important;
    font-weight: bold !important;
}
table {
    font-size: 13px;
}
.modal-footer {
    text-align: center!important;
    border-top: 0px solid #E5E5E5 !important;
}
.btn_agregar {
    color: #b9230f !important;
}
.input-modal-check {
    border-bottom: 1px solid #E5E5E5;
    text-align: left;
    height: auto;
    line-height: 25px;
    width: 100%;
    display: table;
    padding: 10px 0px;
}
.input-modal-form {
    text-align: left;
    height: auto;
    line-height: 25px;
    width: 100%;
    display: table;
    padding: 10px 0px;
}
.input-modal-form .text-obl {
    font-size: 12px;
}
.dark-modal-check {
    background: #eae9e9;
    padding: 8px;
    text-align: left;
}
.box-modal-form {
    background: #f3f2f2;
    display: table;
    padding: 25px 10px;
}
.box-modal-form label {
    float: left;
    width: 140px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    color: #4C4C4C;
    padding-top: 8px;
}
.box-modal-form .item.a6nn label {
    width: 200px;
}
.box-modal-form textarea, .item.block_serie textarea {
    width: 320px;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 0.4em 1em 0.4em 0.4em;
}
.box-modal-form span {
    font-size: 13px;
}
.box-modal-form .coti-save-text {
    text-align: center;
    font-size: 16px !important;
    width: 100%;
    display: block;
}
.box-modal-form .item.a4nn, .box-modal-form .item.a6nn {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
.box-modal-form.central {
    text-align: center;
}
.white-modal-check {
    background: transparent;
    padding: 8px;
    text-align: left;
    margin-top: 15px;
    font-size: 12px;
}
.white-modal-conf {
    background: transparent;
    padding: 8px;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.title-modal-1 {
    margin-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15px;
}
.input-modal-check label {
    font-weight: normal;
}
.input-modal-check .col-md-3 input, .input-modal-check .col-md-8 input {
    text-align: left;
    width: 100%;
    height: 30px;
    border: 1px solid #EDEBEB;
    padding: 0.4em 1em 0.4em 0.4em;
}
.input-modal-check .col-md-4 {
    text-align: right;
}
.other-add-equip {
    display: block;
    margin: 15px 0px;
}
/* cobertura **/
.table-cobertura .fa.fa-times {
    color: #999999;
}
.table-cobertura .fa.fa-times.red, .table-cobertura .fa.fa-check.red {
    color: #b9230f;
}
.table-cobertura .fa.fa-times.gray, .table-cobertura .fa.fa-check.gray, .fa.fa-check.gray.resp {
    color: #D7D7D7;
}
.table-cobertura .l10 {
    background: #f8f8f8;
}
.table-cobertura input {
    border: 1px solid #CCC;
    border-radius: 4px;
    height: 36px;
    width: 130px;
    padding: 0.4em 1em 0.4em 0.4em;
}
.boxes-add label {
    font-weight: normal;
}
.boxes-add input {
    width: 250px;
}
.boxes-add .col-md-5 {
    text-align: left;
}
.red-add {
    text-align: right;
    margin-top: 15px;
}
.red-add a {color: #B9230F;}
.cuerpo .examina-link {
    padding-right: 20px;
    padding-top: 8px;
    float: left;
    width: 60%;
}
.cuerpo .examina-link a {
    color: #1b528f;
}
.cuerpo .examina-link i.fa.fa-paperclip {
    font-size: 22px;
    color: #1b528f;
    margin-right: 8px;
    float: left;
}
.upload-file-clip {
    cursor: pointer;
    font-size: 12px;
}

/* globitos tooltip */
.tooltip {
    font-size: 13px !important; color: #4C4C4C !important; outline: none !important;
    cursor: help !important; text-decoration: none !important;
    position: relative !important; opacity: 1 !important;
}
.tooltip span {
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Century Gothic', sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99; font-size: 12px;
    margin-left: 0; width: 250px;
}
.tooltip:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
* html a:hover { background: transparent; }
.redglobo {padding:4px; background: #1b528f; border: 1px solid #FFAD33; color: #fff;}

/* checkbox design personal */
input[type=checkbox] {
    visibility: hidden;
}
.checkDesign {
    width: 30px;
    margin: 5px 13px;
    position: relative;
}
.checkDesign label {
    cursor: pointer;
    position: absolute;
    width: 30px !important;
    height: 30px;
    top: 25%;
    left: 38%;
    background: #1b528f;
    border-radius: 5px;
    color: #fff;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.checkDesign.white-A3n label, .checkDesign.s1n.white-A3n label, .checkDesign.s2n.white-A3n label {
    background: #fff;
    border: 1px solid #ccc;
}
.box-table-cotiza .checkDesign.s1n.white-A3n label {
    left: 0px;
    top: 0;
}
.table-paquete.line-out .checkDesign.s1n.white-A3n label {
    left: 0px;
    top: -5px;
}
.checkDesign.s1n.white-A3n label {
    left: -20px;
    top: 0;
}
.checkDesign.s2n.white-A3n label {
    left: -40px;
    top: 0;
}
.checkDesign.s3n.white-A3n label {
    top: 25%;
    left: 38%;
}
.checkDesign.s1n label {
    left: -20px;
    top: 0;
}
.checkDesign.s2n label {
    left: -40px;
    top: 0;
}
.checkDesign.s3n label {
    top: 25%;
    left: 38%;
}
.checkDesign.white-A3n label:after {
    border: 3px solid #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 13px;
    height: 9px;
    background: transparent;
    top: 8px;
    left: 8px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkDesign label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 13px;
    height: 9px;
    background: transparent;
    top: 8px;
    left: 8px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkDesign.s1n.white-A3n input[type=checkbox]:checked + label,
.checkDesign.s1n label, .checkDesign.s2n.white-A3n input[type=checkbox]:checked + label,
.checkDesign.s2n label, .checkDesign.s3n.white-A3n input[type=checkbox]:checked + label,
.checkDesign.s3n label {
    background: #fff;
    border: 1px solid #ccc;
}
.checkDesign.s1n.white-A3n input[type=checkbox]:checked + label:after,
.checkDesign.s2n.white-A3n input[type=checkbox]:checked + label:after,
.checkDesign.s3n.white-A3n input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    border: 3px solid #ccc;
    content: '';
    position: absolute;
    width: 13px;
    height: 9px;
    background: transparent;
    top: 8px;
    left: 8px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkDesign.s1n.white-A3n input[type=checkbox]:checked + label:hover::after,
.checkDesign.s2n.white-A3n input[type=checkbox]:checked + label:hover::after,
.checkDesign.s3n.white-A3n input[type=checkbox]:checked + label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}
.checkDesign.s1n.white-A3n label,
.checkDesign.s2n.white-A3n label,
.checkDesign.s3n.white-A3n label {
    background: #1b528f;
    border: 1px solid #1b528f;
}
.checkDesign.s1n.white-A3n label:after,
.checkDesign.s2n.white-A3n label:after,
.checkDesign.s3n.white-A3n label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}


/* collapse contenido */
.well {
    background-color: #fff !important;
    margin-top: 20px;
    display: table;
}
.width-collapdark {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.cuerpo.collapdark {
    background: transparent;
}
.cuerpo.collapdark h2 {
    font-size: 22px;
}

#botones{
    float: left;
    width: 100%;
    text-align: left;
    padding: 0px 0 100px 0;
}

#botones2{
    float: left;
    width: 100%;
    text-align: center;
    padding: 0px 0 100px 0;
}

#botones.padd-min-box {
    padding: 10px 0px;
}
#botones a, .btn.btn-default, .btn.btn-primary, #boton-aprob a {
    margin-left: 30px;
    display: inline-block!important;
    background: url(../img/bg_btn.png) left top repeat-x;
    padding: 9px 30px;
    height: 40px;
    border: none;
}

#botones2.padd-min-box {
    padding: 10px 0px;
}
#botones2 a, .btn.btn-default, .btn.btn-primary, #boton-aprob a {
    margin-left: 30px;
    display: inline-block!important;
    background: url(../img/bg_btn.png) left top repeat-x;
    padding: 9px 30px;
    height: 40px;
    border: none;
}


#boton-aprob a.link-text-cotz {
    color: #1b528f;
    margin-left: 0px;
    display: inline-block!important;
    background: transparent;
    padding: 9px 30px;
}
#boton-aprob {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.txt-aprob-title {
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.w100{
    width: 100px!important;
}
.w155{
    width: 155px;
}
.w50{
    width: 32%;
}
.table-cobertura input.w100{
    width: 100px!important;
}
.box-content-cobertura .ui-selectmenu-button span.ui-selectmenu-text {
    background: none repeat scroll 0 0 #fff;
    color: #242424;
    display: block;
    line-height: 1;
    overflow: hidden;
    padding: 0.6em 2.6em 0.4em 0.4em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    height: 30px;
    color: #4B4B4B;
}


/***agregado 25/3/ **/
.table-paquete td label {
    font-weight: normal;
    color:#dadada;
}
.table-paquete , .table-cobertura  {
    border-right: 1px solid #edebeb;
}
.table-paquete i.fa.fa-caret-down, .table-cobertura i.fa.fa-caret-down, .nav-tabs i.fa.fa-caret-down {
    display: none;
}
.table-paquete .l11 i.fa.fa-caret-down {
    display: inline-block;
}
.table-paquete td, .table-cobertura td {
    border: 0px solid #edebeb;
    border-left: 1px solid #edebeb;
    border-top: 1px solid #edebeb;
    border-bottom: 1px solid #edebeb;
    color: #4b4b4b;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
.table-paquete td{
    color: #999999;
}
.radio_pago{
    cursor: pointer;
}

.radio_pago1{
    cursor: pointer;
}
.table-paquete td.titulos.hover, .table-paquete td.activado  {
    background: #4BAFE2;
    color: #fff;
}

.table-paquete td.select  {
    color:#fff;
    font-weight: bold;
    background: #4BAFE2;
}
.table-paquete td.titulos.select  {
    color:#999;
    font-weight: normal;
    background: #eef5fc;
}
.table-paquete td.principal.titulos.select {
    color:#4BAFE2;
}
.table-paquete td.active {
    border-left: 1px solid #4BAFE2;
    border-right: 1px solid #4BAFE2;
}
.table-paquete thead td.active,
.table-cobertura thead td.active {
    background: none repeat scroll 0 0 #3c8cb4;  /***se ve rojo poner un azul más fuerte **/
    color: #fff;
}
.table-cobertura thead .m13 {
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
}

.table-cobertura thead .m131 {
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
}

.table-cobertura .active .fa.fa-check, .fa.fa-check.resp {
    color: #b9230f;
}
.checkDesign.s1n.white-A3n label, .checkDesign.s2n.white-A3n label, .checkDesign.s3n.white-A3n label {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
}

.checkDesign.s1n.white-A3n input[type="checkbox"]:checked + label, .checkDesign.s1n label, .checkDesign.s2n.white-A3n input[type="checkbox"]:checked + label, .checkDesign.s2n label, .checkDesign.s3n.white-A3n input[type="checkbox"]:checked + label, .checkDesign.s3n label {
    background: none repeat scroll 0 0 #1b528f;
    border: 1px solid #1b528f;
}
.checkDesign.s1n.white-A3n input[type="checkbox"]:checked + label:after, .checkDesign.s2n.white-A3n input[type="checkbox"]:checked + label:after, .checkDesign.s3n.white-A3n input[type="checkbox"]:checked + label:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #fff #fff;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 3px 3px;
    content: "";
    height: 9px;
    left: 8px;
    opacity: 1;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 13px;
}

.table-cobertura td.active {
    border-left: 1px solid #a90900;
    border-right: 1px solid #a90900;
}


.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.overflow{

    height: 200px;

}

.cuerpo .item .sin-float{
    width: 105px;
    margin-right: 1rem;
}

.cuerpo .item .sin-float_2{
    width: 155px;
    margin-right: 1rem;
}

.tabla-cobertura input .w100p{
    width: 100% !important;
}

.special-inputs input[type="checkbox"], .special-inputs input[type="text"] {
    visibility: visible;
}

.special-inputs input[type="text"]{
    border: 1px solid black;
}

.special-inputs div{
    margin-bottom: 1rem;
}

.special-col1, .special-col2{
    background-color: #DE0607;
    color: white;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
}
.cuerpo .item.a3nn .type-person.special-radio{
    display: block;
    float: none;
    text-align: left;
    margin-left: 5rem;
    padding-right: 0;
    width: 234px;
}

.collapser.tooltip{
    font-size: 2.5rem !important;
}

.margin-left{
    margin-left: 5rem;
}



div#color { width: 50px; height: 50px; }


* { box-sizing: border-box;}
body{font-size:11px;font-family:Verdana, Geneva, sans-serif;}
a{ color: #000; text-decoration: none;}
.content *:first-child {margin-top: 0;}
.content *:last-child {margin-bottom: 0;}
 
/*clearfix*/
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
 
/*tabs ul*/
.tabs ul{
    margin: 0;padding: 0;
}
 
/*tabs li*/
.tabs li { 
    position: relative; 
    display: inline-block; 
    margin: 1px .2em 0 0; 
    padding: 0;
    list-style: none; white-space: nowrap;
}
 
.tabs li.active a{
    position: relative;
    z-index: 10;
    margin-bottom: -1px;
    padding-bottom: 6px;
    background: #FAFAFA;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}
 
/*tabs a*/
.tabs a{
    display: inline-block;
    margin-bottom: -5px;
    padding: 5px;
    padding-bottom: 10px;
    border: 1px solid #DFDFDF;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background: #F3F3F3;
}
 
/*content*/
.tabs .tabscontent {
    position: relative;
    display: block;
    float: left; 
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    background: #F3F3F3;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.tabs .tabscontent .active{
    position: relative;
    z-index: 200;
    display: inline-block;
    border-radius: 5px;
    background: #FAFAFA;
}
 
/*first tab with border-radius 0*/
.tabs .tabscontent:first-child,
.tabs .tabscontent .active:first-child {
    border-top-left-radius: 0;
}
 
.tabs .content{
    padding: 20px;
}

.hidden{
   display: none;
}



  .tooltip {
    display:none;
    background:#fff;
    height:163px;
    padding:40px 30px 10px 30px;
    width:310px;
    font-size:11px;
    color:#fff;
  }

  .tooltip .label {
    color:yellow;
    width:35px;
  }
 
  .tooltip a {
    color:#ad4;
    font-size:11px;
    font-weight:bold;
  }
