/* En celulares jugar con porcentajes para que se adapte automaticamente ya que hay varios con resoluciones 360, 390, 410, etc. */


/*tablets*/
@media (max-width: 768px) {
    .centrar {
        width: 768px;
        margin: 0px auto;
        padding: 0px 10px;
    }
    .carousel-caption, .carousel-caption h3 {
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .check-cotiz {
        width: 30%;
        display: table;
    }
    .input-modal-check .col-md-4 {
        text-align: left;
    }
    #cabecera,.containerO {
        position: fixed;
        margin-top: 0;
        top: 0;
        z-index: 1000000;
    }
    .banner {
        margin-top: 50px;
    }
    .opciones li:nth-child(2) {
        border-right: none;
    }
    .cuerpo .item.a3nn label.type-contact {
        width: 140px;
    }
    .cuerpo .item.checkbox {
        padding-left: 34%;
    }
    
    /* Tablas for responsive 
    .box-table-paquete, .box-content-cobertura, .box-table-cotiza {overflow: scroll; overflow-y: hidden;}
    table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }*/

}

/*tablets*/
@media (max-width: 640px) {
    .centrar {
        width: 640px;
        margin: 0px auto;
        padding: 0px 10px;
    }
    #identificador div ul {
        width: 100%;
    }
    #identificador li strong {
        padding-left: 10px;
    }
    
    .line-width-max {
        margin-left: -13px;
        margin-right: -13px;
    }
    #pasos li {
        padding-left: 16px;
        font-size: 15px;
        padding: 17px 0px 17px 16px;
    }
    #contenido_paso {
        padding: 8% 2%;
    }
    #contenido_paso h2, #contenido_paso h2 a, #paquetes h2 a {
        font-size: 20px;
    }
    .opciones li a {
        width: 50px;
    }
    .obligatorio {
        text-align: left;
        padding: 15px 0px;
    }
    .cuerpo .item .tipos li {
        width: 20%;
    }
    .cuerpo .item .tipos .btn_autos, .cuerpo .item .tipos .btn_camiones, .cuerpo .item .tipos .btn_pickups, .cuerpo .item .tipos .btn_motos {
        width: 100%;
        height: 60px;
    }
    .cuerpo .item label {
        text-align: left;
    }
    .cuerpo .item.item_tipos label {
        padding-top: 10px;
        width: 15%;
    }
    .cuerpo .item .tipos .active .btn_autos {
        background-position: 30px -66px;
    }
    .cuerpo .item .tipos .btn_autos {
        background-position: 30px 28px;
    }
    .cuerpo .item .tipos .btn_autos:hover {
        background-position: 30px -66px;
    }
    .cuerpo .item .tipos .active .btn_camiones {
        background-position: -75px -65px;
    }
    .cuerpo .item .tipos .btn_camiones {
        background-position: -75px 28px;
     }
     .cuerpo .item .tipos .btn_camiones:hover {
        background-position: -75px -65px;
     }
     .cuerpo .item .tipos .active .btn_pickups {
        background-position: -182px -65px;
    }
     .cuerpo .item .tipos .btn_pickups {
        background-position: -182px 28px;
     }
     .cuerpo .item .tipos .btn_pickups:hover {
        background-position: -182px -65px;
     }
     .cuerpo .item .tipos .active .btn_motos {
        background-position: -288px -65px;
    }
     .cuerpo .item .tipos .btn_motos {
        background-position: -288px 28px;
     }
     .cuerpo .item .tipos .btn_motos:hover {
        background-position: -288px -65px;
     }
     .cuerpo .item {
        padding-bottom: 10px;
    }
    .cuerpo .item.checkbox {
        padding-left: 0%;
    }
    .carousel-indicators {
        bottom: 0px;
    }
    .cuerpo .item.item_fecha label {
        padding-bottom: 10px;
        width: 100%;
    }
    .label_fecha_desde, .label_fecha_hasta {
        position: relative;
        min-height: 1px;
        padding-left: 13px;
        padding-right: 13px;
        width: 100%;
        float: left;
    }
    .cuerpo .item.item_fecha input {
        width: 65%;
    }
    #botones a {
        margin-left: 0px;
    }
    .cuerpo .item.checkbox {
        margin-top: 0px;
        margin-left: 10px;
    }
    .cuerpo .item.block_monto, .cuerpo .item.block_monto_dark, .item.block_monto_date {
        padding: 8px;
     }
     .item.block_monto input, .item.block_monto_dark input {
        width: 100% !important;
     }
     .btn.btn-default, .btn.btn-primary {
        margin-left: 0px;
        padding: 9px 20px;
     }
     .agente_block.a1nn label a {
        text-align: left;
     }
     .item-card-codigo {
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        margin-top: 15px;
    }
    .poliza-info .item {
        margin-bottom: 0px;
    }
    .box-modal-form label {
        width: 100%;
        text-align: left;
    }
    #pasajeros-button.ui-corner-all {
        width: 98% !important;
    }
    .box-content-paquete .am6nn {
        width: 100%;
        display: block;
        overflow: hidden;
        text-align: center;
    }
    .width-collapdark .an6hh, .box-modal-form.as33fn {
        padding: 19px 4px;
    }
    .cuerpo.collapdark .item.a4nn input, .cuerpo.collapdark .ui-corner-all, .box-modal-form.as33fn input,
    .box-modal-form.as33fn textarea {
        width: 98% !important;
    }
    .cuerpo .item.ab56ng label {
        width: 160px;
    }
    .cuerpo .label_fecha.as4bn3 {
        width: 100% !important;
    }
    .block-for-responsive {
        display: block;
        width: 100%;
        overflow: hidden;
        background: none !important;
        padding-bottom: 15px !important;
        margin: 0 auto;
    }
    .block-for-responsive a {
        margin: 30px 15% 0px;
    }
    .input-modal-check .col-md-4 {
        text-align: left;
    }
    .nav-tabs > li {
        text-align: center;
    }
    .nav-tabs > li > a {
        padding: 10px 67px;
        color: #fff;
        background: #CCC;
        border-radius: 0px 0px 0px 0px;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
        background: #8E0101;
        color: #fff;
    }
    .table-cobertura select, .table-paquete select {
        width: 80px;
    }
    .table-paquete.line-out td {
        border: none;
    }
    .datos-resumen li {
        font-size: 12px;
    }
    .opciones li a.plus-icon-box {
        width: auto;
    }
    .msg-error-validate {
        float: left;
    }
    .tooltip span {
        display: none;
    }
    .popover {
        border: 1px solid #FFAD33;
        padding: 0px;
    }
    .popover-title, .popover-content {
        background: #1b528f;
        color: #fff;
        font-size: 12px;
    }
    .popover-title {
        font-weight: bold;
        border-bottom: none;
        padding: 5px 5px 2px 5px;
    }
    .popover-content {
        border-radius: 0px 0px 5px 5px;
        padding: 2px 5px 5px 5px;
    }
    .popover.top > .arrow::after {
        border-top-color: #1b528f;
    }
    .responsive.table-paquete .fa.fa-question {
        color: #1b528f;
        font-size: 16px;
        cursor: pointer;
    }
    
    
    /* Tablas for responsive 
    .box-table-paquete, .box-content-cobertura, .box-table-cotiza {overflow: scroll; overflow-y: hidden;}
    table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }*/
}

/*tablets*/
@media (max-width: 480px) {
    .centrar {
        width: 480px;
        margin: 0px auto;
        padding: 0px 10px;
    }
    #identificador div ul {
        width: 100%;
    }
    #identificador li strong {
        padding-left: 10px;
    }
    .line-width-max {
        margin-left: -13px;
        margin-right: -13px;
    }
    #pasos li {
        padding-left: 16px;
        font-size: 15px;
        padding: 17px 0px 17px 16px;
    }
    #contenido_paso {
        padding: 8% 2%;
    }
    #contenido_paso h2, #contenido_paso h2 a, #paquetes h2 a {
        font-size: 20px;
    }
    .opciones li a {
        width: 50px;
    }
    .obligatorio {
        text-align: left;
        padding: 15px 0px;
    }
    .cuerpo .item .tipos li {
        width: 25%;
    }
    .cuerpo .item .tipos .btn_autos, .cuerpo .item .tipos .btn_camiones, .cuerpo .item .tipos .btn_pickups, .cuerpo .item .tipos .btn_motos {
        width: 100%;
        height: 60px;
    }
    .cuerpo .item label {
        text-align: left;
    }
    .cuerpo .item.item_tipos label {
        padding-top: 10px;
        width: 100%;
    }
    .cuerpo .item .tipos .active .btn_autos {
        background-position: 30px -66px;
    }
    .cuerpo .item .tipos .btn_autos {
        background-position: 30px 28px;
    }
    .cuerpo .item .tipos .btn_autos:hover {
        background-position: 30px -66px;
    }
    .cuerpo .item .tipos .active .btn_camiones {
        background-position: -75px -65px;
    }
    .cuerpo .item .tipos .btn_camiones {
        background-position: -75px 28px;
     }
     .cuerpo .item .tipos .btn_camiones:hover {
        background-position: -75px -65px;
     }
     .cuerpo .item .tipos .active .btn_pickups {
        background-position: -182px -65px;
    }
     .cuerpo .item .tipos .btn_pickups {
        background-position: -182px 28px;
     }
     .cuerpo .item .tipos .btn_pickups:hover {
        background-position: -182px -65px;
     }
     .cuerpo .item .tipos .active .btn_motos {
        background-position: -288px -65px;
    }
     .cuerpo .item .tipos .btn_motos {
        background-position: -288px 28px;
     }
     .cuerpo .item .tipos .btn_motos:hover {
        background-position: -288px -65px;
     }
     .cuerpo .item {
        padding-bottom: 10px;
    }
    .cuerpo .item.checkbox {
        padding-left: 0%;
    }
    .carousel-indicators {
        bottom: 0px;
    }
    .cuerpo .item.item_fecha label {
        padding-bottom: 10px;
        width: 100%;
    }
    .label_fecha_desde, .label_fecha_hasta {
        position: relative;
        min-height: 1px;
        padding-left: 13px;
        padding-right: 13px;
        width: 100%;
        float: left;
    }
    .cuerpo .item.item_fecha input {
        width: 65%;
    }
    #botones a {
        margin-left: 0px;
    }
    .cuerpo .item.checkbox {
        margin-top: 0px;
        margin-left: 10px;
    }
    .cuerpo .item.block_monto, .cuerpo .item.block_monto_dark, .item.block_monto_date {
        padding: 8px;
     }
     .item.block_monto input, .item.block_monto_dark input {
        width: 100% !important;
     }
     .btn.btn-default, .btn.btn-primary {
        margin-left: 0px;
        padding: 9px 20px;
     }
     .agente_block.a1nn label a {
        text-align: left;
     }
     .item-card-codigo {
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        margin-top: 15px;
    }
    .poliza-info .item {
        margin-bottom: 0px;
    }
    .box-modal-form label {
        width: 100%;
        text-align: left;
    }
    #pasajeros-button.ui-corner-all {
        width: 98% !important;
    }
    .box-content-paquete .am6nn {
        width: 100%;
        display: block;
        overflow: hidden;
        text-align: center;
    }
    .width-collapdark .an6hh, .box-modal-form.as33fn {
        padding: 19px 4px;
    }
    .cuerpo.collapdark .item.a4nn input, .cuerpo.collapdark .ui-corner-all, .box-modal-form.as33fn input,
    .box-modal-form.as33fn textarea {
        width: 98% !important;
    }
    .cuerpo .item.ab56ng label {
        width: 160px;
    }
    .cuerpo .label_fecha.as4bn3 {
        width: 100% !important;
    }
    .block-for-responsive {
        display: block;
        width: 100%;
        overflow: hidden;
        background: none !important;
        padding-bottom: 15px !important;
        margin: 0 auto;
    }
    .block-for-responsive a {
        margin: 30px 11% 0px;
    }
    .input-modal-check .col-md-4 {
        text-align: left;
    }
    .table-paquete .left.bnf5 {
        font-size: 16px;
        border-bottom: 1px solid #ccc;
    }
    .nav-tabs > li {
        text-align: center;
    }
    .nav-tabs > li > a {
        padding: 10px 40px;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
        background: #8E0101;
        color: #fff;
    }
    .table-cobertura select, .table-paquete select {
        width: 80px;
    }
    /* Tablas for responsive 
    .box-table-paquete, .box-content-cobertura, .box-table-cotiza {overflow: scroll; overflow-y: hidden;}
    table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }*/

}

/*celulares
iphone6plus
*/
@media (max-width: 414px) {
    .centrar {
        width: 414px;
        margin: 0px auto;
        padding: 0px 10px;
    }
    .line-width-max {
        margin-left: -13px;
        margin-right: -13px;
    }
    #identificador div ul {
        width: 100%;
    }
    #identificador li strong {
        padding-left: 10px;
    }
    .line-width-max {
        margin-left: -13px;
        margin-right: -13px;
    }
    #pasos li {
        padding-left: 16px;
        font-size: 15px;
        padding: 17px 0px 17px 16px;
    }
    #contenido_paso {
        padding: 8% 2%;
    }
    #contenido_paso h2, #contenido_paso h2 a, #paquetes h2 a {
        font-size: 20px;
    }
    .opciones li a {
        width: 50px;
    }
    .obligatorio {
        text-align: left;
        padding: 15px 0px;
    }
    .cuerpo .item .tipos li {
        width: 25%;
    }
    .cuerpo .item .tipos .btn_autos, .cuerpo .item .tipos .btn_camiones, .cuerpo .item .tipos .btn_pickups, .cuerpo .item .tipos .btn_motos {
        width: 100%;
        height: 60px;
    }
    .cuerpo .item label {
        text-align: left;
    }
    .cuerpo .item.item_tipos label {
        padding-top: 10px;
        width: 100%;
    }
    .cuerpo .item .tipos .active .btn_autos {
        background-position: 15px -66px;
    }
    .cuerpo .item .tipos .btn_autos {
        background-position: 15px 28px;
    }
    .cuerpo .item .tipos .btn_autos:hover {
        background-position: 15px -66px;
    }
    .cuerpo .item .tipos .active .btn_camiones {
        background-position: -95px -65px;
    }
    .cuerpo .item .tipos .btn_camiones {
        background-position: -95px 28px;
     }
     .cuerpo .item .tipos .btn_camiones:hover {
        background-position: -95px -65px;
     }
     .cuerpo .item .tipos .active .btn_pickups {
        background-position: -202px -65px;
    }
     .cuerpo .item .tipos .btn_pickups {
        background-position: -202px 28px;
     }
     .cuerpo .item .tipos .btn_pickups:hover {
        background-position: -202px -65px;
     }
     .cuerpo .item .tipos .active .btn_motos {
        background-position: -308px -65px;
    }
     .cuerpo .item .tipos .btn_motos {
        background-position: -308px 28px;
     }
     .cuerpo .item .tipos .btn_motos:hover {
        background-position: -308px -65px;
     }
     .cuerpo .item {
        padding-bottom: 10px;
    }
    .cuerpo .item.checkbox {
        padding-left: 0%;
    }
    .carousel-indicators {
        bottom: 0px;
    }
    .cuerpo .item.item_fecha label {
        padding-bottom: 10px;
        width: 100%;
    }
    .label_fecha_desde, .label_fecha_hasta {
        position: relative;
        min-height: 1px;
        padding-left: 13px;
        padding-right: 13px;
        width: 100%;
        float: left;
    }
    .cuerpo .item.item_fecha input {
        width: 65%;
    }
    #botones a {
        margin-left: 0px;
    }
    .cuerpo .item.checkbox {
        margin-top: 0px;
        margin-left: 10px;
    }
    .cuerpo .item.block_monto, .cuerpo .item.block_monto_dark, .item.block_monto_date {
        padding: 8px;
     }
     .item.block_monto input, .item.block_monto_dark input {
        width: 100% !important;
     }
     .btn.btn-default, .btn.btn-primary {
        margin-left: 0px;
        padding: 9px 20px;
     }
     .agente_block.a1nn label a {
        text-align: left;
     }
     .item-card-codigo {
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        margin-top: 15px;
    }
    .poliza-info .item {
        margin-bottom: 0px;
    }
    .box-modal-form label {
        width: 100%;
        text-align: left;
    }
    #pasajeros-button.ui-corner-all {
        width: 98% !important;
    }
    .box-content-paquete .am6nn {
        width: 100%;
        display: block;
        overflow: hidden;
        text-align: center;
    }
    .width-collapdark .an6hh, .box-modal-form.as33fn {
        padding: 19px 4px;
    }
    .cuerpo.collapdark .item.a4nn input, .cuerpo.collapdark .ui-corner-all, .box-modal-form.as33fn input,
    .box-modal-form.as33fn textarea {
        width: 98% !important;
    }
    .cuerpo .item.ab56ng label {
        width: 160px;
    }
    .cuerpo .label_fecha.as4bn3 {
        width: 100% !important;
    }
    .block-for-responsive {
        display: block;
        width: 100%;
        overflow: hidden;
        background: none !important;
        padding-bottom: 15px !important;
        margin: 0 auto;
    }
    .block-for-responsive a {
        margin: 30px 9% 0px;
    }
    .input-modal-check .col-md-4 {
        text-align: left;
    }
    .cuerpo .item .check-cotiz label {
        width: 300px;
    }
    input.desc_txt.gt6 {
        width: 75px;
    }

    
    /* Tablas for responsive 
    .box-table-paquete, .box-content-cobertura, .box-table-cotiza {overflow: scroll; overflow-y: hidden;}
    table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }*/

}

/*celulares
iphone6
*/
@media (max-width: 375px) {
    .centrar {
        width: 360px;
        margin: 0px auto;
        padding: 0px 10px;
    }
    h1 {
        font-size: 28px;
    }
    #identificador div ul {
        width: 100%;
    }
    #identificador li strong {
        padding-left: 10px;
    }
    .line-width-max {
        margin-left: -13px;
        margin-right: -13px;
    }
    #pasos li {
        padding-left: 16px;
        font-size: 15px;
        padding: 17px 0px 17px 16px;
    }
    #contenido_paso {
        padding: 8% 2%;
    }
    #contenido_paso h2, #contenido_paso h2 a, #paquetes h2 a {
        font-size: 20px;
    }
    .opciones li a {
        width: 50px;
    }
    .obligatorio {
        text-align: left;
        padding: 15px 0px;
    }
    .cuerpo .item .tipos li {
        width: 25%;
    }
    .cuerpo .item .tipos .btn_autos, .cuerpo .item .tipos .btn_camiones, .cuerpo .item .tipos .btn_pickups, .cuerpo .item .tipos .btn_motos {
        width: 100%;
        height: 60px;
    }
    .cuerpo .item label {
        text-align: left;
    }
    .cuerpo .item.item_tipos label {
        padding-top: 10px;
        width: 100%;
    }
    .cuerpo .item .tipos .active .btn_autos {
        background-position: 15px -66px;
    }
    .cuerpo .item .tipos .btn_autos {
        background-position: 15px 28px;
    }
    .cuerpo .item .tipos .btn_autos:hover {
        background-position: 15px -66px;
    }
    .cuerpo .item .tipos .active .btn_camiones {
        background-position: -95px -65px;
    }
    .cuerpo .item .tipos .btn_camiones {
        background-position: -95px 28px;
     }
     .cuerpo .item .tipos .btn_camiones:hover {
        background-position: -95px -65px;
     }
     .cuerpo .item .tipos .active .btn_pickups {
        background-position: -202px -65px;
    }
     .cuerpo .item .tipos .btn_pickups {
        background-position: -202px 28px;
     }
     .cuerpo .item .tipos .btn_pickups:hover {
        background-position: -202px -65px;
     }
     .cuerpo .item .tipos .active .btn_motos {
        background-position: -308px -65px;
    }
     .cuerpo .item .tipos .btn_motos {
        background-position: -308px 28px;
     }
     .cuerpo .item .tipos .btn_motos:hover {
        background-position: -308px -65px;
     }
     .cuerpo .item {
        padding-bottom: 10px;
    }
    .cuerpo .item.checkbox {
        padding-left: 0%;
    }
    .carousel-indicators {
        bottom: 0px;
        width: 70%;
    }
    .cuerpo .item.item_fecha label {
        padding-bottom: 10px;
        width: 100%;
    }
    .label_fecha_desde, .label_fecha_hasta {
        position: relative;
        min-height: 1px;
        padding-left: 13px;
        padding-right: 13px;
        width: 100%;
        float: left;
    }
    .cuerpo .item.item_fecha input {
        width: 65%;
    }
    #botones a {
        margin-left: 0px;
    }
    .cuerpo .item.checkbox {
        margin-top: 0px;
        margin-left: 10px;
    }
    .cuerpo .item.block_monto, .cuerpo .item.block_monto_dark, .item.block_monto_date {
        padding: 8px;
     }
     .item.block_monto input, .item.block_monto_dark input {
        width: 100% !important;
     }
     .btn.btn-default, .btn.btn-primary {
        margin-left: 0px;
        padding: 9px 20px;
     }
     .agente_block.a1nn label a {
        text-align: left;
     }
     .item-card-codigo {
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        margin-top: 15px;
    }
    .poliza-info .item {
        margin-bottom: 0px;
    }
    .box-modal-form label {
        width: 100%;
        text-align: left;
    }
    #pasajeros-button.ui-corner-all {
        width: 98% !important;
    }
    .box-content-paquete .am6nn {
        width: 100%;
        display: block;
        overflow: hidden;
        text-align: center;
    }
    .width-collapdark .an6hh, .box-modal-form.as33fn {
        padding: 19px 4px;
    }
    .cuerpo.collapdark .item.a4nn input, .cuerpo.collapdark .ui-corner-all, .box-modal-form.as33fn input,
    .box-modal-form.as33fn textarea {
        width: 98% !important;
    }
    .cuerpo .item.ab56ng label {
        width: 260px;
    }
    .cuerpo .label_fecha.as4bn3 {
        width: 100% !important;
    }
    .block-for-responsive {
        display: block;
        width: 100%;
        overflow: hidden;
        background: none !important;
        padding-bottom: 15px !important;
        margin: 0 auto;
    }
    .block-for-responsive a {
        margin: 30px 7% 0px;
    }
    .input-modal-check .col-md-4 {
        text-align: left;
    }
    .cuerpo .item.a5nn label.type-person {
        text-align: center;
    }
    .cuerpo .examina-link {
        width: 100%;
        padding-right: 0px;
    }
    .upload-file-clip {
        width: 90%;
    }
    .cuerpo .item.a3nn label.type-contact {
        width: 100%;
    }
    .nav-tabs > li > a {
        padding: 10px 22px;
    }
    .export-tables {
        right: 10px;
        top: 5px;
    }
    
    /* Tablas for responsive 
    .box-table-paquete, .box-content-cobertura, .box-table-cotiza {overflow: scroll; overflow-y: hidden;}
    table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }*/

}

/*celulares
iphone3,4,5
*/
@media (max-width: 320px) {
    .centrar {
        width: 320px;
        margin: 0px auto;
        padding: 0px 10px;
    }
    h1 {
        font-size: 28px;
    }
    #identificador div ul {
        width: 100%;
    }
    #identificador li strong {
        padding-left: 5px;
        margin-right: 0px;
    }
    .line-width-max {
        margin-left: -13px;
        margin-right: -13px;
    }
    #pasos li {
        padding-left: 16px;
        font-size: 15px;
        padding: 17px 0px 17px 16px;
    }
    #contenido_paso {
        padding: 8% 2%;
    }
    #contenido_paso h2, #contenido_paso h2 a, #paquetes h2 a {
        font-size: 20px;
    }
    .opciones li a {
        width: 50px;
    }
    .obligatorio {
        text-align: left;
        padding: 15px 0px;
    }
    .cuerpo .item .tipos li {
        width: 25%;
    }
    .cuerpo .item .tipos .btn_autos, .cuerpo .item .tipos .btn_camiones, .cuerpo .item .tipos .btn_pickups, .cuerpo .item .tipos .btn_motos {
        width: 100%;
        height: 60px;
    }
    .cuerpo .item label {
        text-align: left;
    }
    .cuerpo .item.item_tipos label {
        padding-top: 10px;
        width: 100%
    }
    .cuerpo .item .tipos .active .btn_autos {
        background-position: 15px -66px;
    }
    .cuerpo .item .tipos .btn_autos {
        background-position: 15px 28px;
    }

    .cuerpo .item .tipos .btn_autos:hover {
        background-position: 15px -66px;
    }
    .cuerpo .item .tipos .active .btn_camiones {
        background-position: -95px -65px;
    }
    .cuerpo .item .tipos .btn_camiones {
        background-position: -95px 28px;
     }
     .cuerpo .item .tipos .btn_camiones:hover {
        background-position: -95px -65px;
     }
     .cuerpo .item .tipos .active .btn_pickups {
        background-position: -202px -65px;
    }
     .cuerpo .item .tipos .btn_pickups {
        background-position: -202px 28px;
     }
     .cuerpo .item .tipos .btn_pickups:hover {
        background-position: -202px -65px;
     }
     .cuerpo .item .tipos .active .btn_motos {
        background-position: -308px -65px;
    }
     .cuerpo .item .tipos .btn_motos {
        background-position: -308px 28px;
     }
     .cuerpo .item .tipos .btn_motos:hover {
        background-position: -308px -65px;
     }
     .cuerpo .item {
        padding-bottom: 10px;
    }
    .cuerpo .item.checkbox {
        padding-left: 0%;
    }
    .carousel-indicators {
        bottom: 0px;
        width: 70%;
    }
    .cuerpo .item.item_fecha label {
        padding-bottom: 10px;
        width: 100%;
    }
    .label_fecha_desde, .label_fecha_hasta {
        position: relative;
        min-height: 1px;
        padding-left: 13px;
        padding-right: 13px;
        width: 100%;
        float: left;
    }
    .cuerpo .item.item_fecha input {
        width: 65%;
    }
    #botones a {
        margin-left: 0px;
    }
    .ui-state-default {
        width: 100% !important;
    }
    .cuerpo .item.checkbox {
        margin-top: 0px;
        margin-left: 10px;
    }
    .agente_block input, .item.block_serie input, .item.block_monto input, .item.block_monto_dark input, .item.a4nn input {
        width: 100% !important;
     }
     .cuerpo .item.block_monto, .cuerpo .item.block_monto_dark, .item.block_monto_date {
        padding: 8px;
     }
     .btn.btn-default, .btn.btn-primary {
        margin-left: 0px;
        padding: 9px 20px;
     }
     .agente_block.a1nn label a {
        text-align: left;
     }
     .agente_block .type-person input {
        height: auto;
        width: auto !important;
    }
    .item-list-pago {
        padding-right: 0px;
    }
    .item-card-codigo {
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        margin-top: 15px;
    }
    .poliza-info .item {
        margin-bottom: 0px;
    }
    .box-modal-form label {
        width: 100%;
        text-align: left;
    }
    .box-modal-form input, .box-modal-form textarea, .box-modal-form span, .cuerpo .item.block_serie textarea  {
        width: 100%;
    }
    .box-content-paquete .am6nn {
        width: 100%;
        display: block;
        overflow: hidden;
        text-align: center;
    }
    .width-collapdark .an6hh, .box-modal-form.as33fn {
        padding: 19px 4px;
    }
    .cuerpo .item.ab56ng label {
        width: 260px;
    }
    .cuerpo .label_fecha.as4bn3 {
        width: 100% !important;
    }
    .block-for-responsive {
        display: block;
        width: 100%;
        overflow: hidden;
        background: none !important;
        padding-bottom: 15px !important;
        margin: 0 auto;
    }
    .block-for-responsive a {
        margin: 30px 5% 0px;
    }
    .input-modal-check .col-md-4 {
        text-align: left;
    }
    .cuerpo .item.a5nn label.type-person {
        width: 110px;
        text-align: center;
    }
    .nav-tabs > li > a {
        padding: 10px 16px;
    }
    input.desc_txt.gt6 {
        right: 20px;
    }
    .export-tables a, .download-tables a {
        font-size: 85%;
    }
    
    /* Tablas for responsive 
    .box-table-paquete, .box-content-cobertura, .box-table-cotiza {overflow: scroll; overflow-y: hidden;}
    table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }*/

}